.header {
    display: flex;
    align-items: center;
    background: #dfe6e9;
    padding: 0.5em 1em 0.5em 1em;
}

.header-brand {
    font-size: 30px; 
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #0277bd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-brand:hover {
    color: #01579b;
}

.header-brand-2 {
    font-size: 25px; 
    font-weight: bold; 
    font-family: 'Lato', sans-serif;
    color: #7aa5be;
    text-decoration: none;
    animation: colorPulse 2s infinite ease-in-out; /* Añadido animación */
}

@keyframes colorPulse {
    0% {
        color: #7aa5be; /* Color inicial */
    }
    50% {
        color: #c2c5c7; /* Color blanco intermedio */
    }
    100% {
        color: #7aa5be; /* Vuelve al color inicial */
    }
}



.blog-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-favoritos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px green;
    padding: 1em;
    margin-bottom: 1em;
}

.card-favoritos-img {
    width: 120px;
    height: 120px;
    margin-right: 1em;
}


.card-img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 225px; /* Mantén una altura uniforme  */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsión cover*/
    object-position: center; /* Centra la imagen en su contenedor */
}







